gralej.path=/home/ke/workspace/trale/trale-sld/lib/gralej.jar
jedit-textArea.path=/home/ke/workspace/trale/trale-sld/lib/jedit-textArea.jar
jasper.path=/home/ke/opt/sicstus/lib/sicstus-3.12.10/bin/jasper.jar